.sl-l-accountbtn-lbl{
    padding-top: 1px;
}

.sl-he-info{
    margin-top: 2px;
    font-size: 10pt;
    font-weight: bold;
    //color: #444444;
}

@media screen and (max-width: 500px) {
    .sl-he-info{
        display: none;
    }
  }