<app-cookiebanner></app-cookiebanner>
<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="sl-headerbar" [style]="'color:' + color">
    <div fxLayout="row" fxLayoutAlign="center center">
        <button *ngIf="showBack" mat-icon-button aria-label="Back" (click)="backClicked()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <div class="sl-logo" fxLayoutAlign="center center"  routerLink="/">
            <img class="sl-logo-img" src="../../assets/alllocal.png">
            <div class="sl-logo-main">AllLocal</div> 
            <div class="sl-logo-de">.de</div>
        </div>
        <div class="sl-he-info">
            kostenlos & OpenSource
        </div>
    </div>

    <div class="sl-s-h-login" fxLayoutAlign="center center">
        <button mat-button aria-label="Login" routerLink="/account">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div class="sl-l-accountbtn-lbl" *ngIf="!userMail">mein Geschäft</div>
                <div class="sl-l-accountbtn-lbl" *ngIf="userMail">{{userMail}}</div>
                <mat-icon style="padding-left: 5px;">face</mat-icon>
            </div>
        </button>
    </div>
</mat-toolbar>
<div class="toolbar-placeholder "></div>