.sl-f-base{
    margin-top: 200px;
    padding-bottom: 120px;
    width: 100%;
    background-color: #e3e3e3;
}

.sl-f-content{
    padding-top: 20px;
    width: 100%;
    max-width: 600px;
}

.sl-f-section{
    padding: 10px;
    color: #666666;
}

.sl-f-section h4{
 font-size: 11pt;
 font-weight: 900;
}

.sl-f-rightalign{
    text-align: right;
}

.sl-f-section a{
    text-decoration: none;
    color: #666666;
}