<div fxLayoutAlign="center" class="sl-f-base">
    <div class="sl-f-content" fxLayout="row" fxLayoutAlign="space-between">
        <div class="sl-f-section" fxLayout="column">
            <h4>Links</h4>
            <a href="/">Home</a>
            <a href="/login">Login</a>

        </div>
        <div class="sl-f-section sl-f-rightalign" fxLayout="column">
            <h4>Informationen</h4>
            <a href="https://gitlab.com/support-local/webclient">Source-Code</a>
            <a href="/datenschutz">Datenschutz</a>
            <a href="/nutzungsbedingungen">Nutzungsbedingungen</a>
            <a href="/impressum">Impressum</a>
        </div>

    </div>
</div>