<app-header showBack="true"></app-header>
<div fxLayout="column" class="sl-p-page" fxLayoutAlign="flex-start center">

    <img src="{{place.imageurl}}" class="sl-p-imgitem sl-p-c-img">

    <div class="sl-p-item sl-p-c-info">
        <h1>{{place.name}}</h1>
        <div class="sl-p-c-info-item" style="margin-bottom: 20px;" fxLayout="row">
            {{place.about}}
        </div>
        <div class="sl-p-c-info-item" fxLayout="row">
            <mat-icon>place</mat-icon>
            <div>{{place.adress}}</div>
        </div>
        <div class="sl-p-c-info-item" fxLayout="row">
            <mat-icon>access_time</mat-icon>
            <div>{{place.times}}</div>
        </div>
    </div>
    <div *ngIf="place.delivery" class="sl-p-info-deliv">
        <div>Lieferung möglich</div>
    </div>
    <div class="sl-p-item sl-p-c-info">
        <h2>Angebot</h2>
        <div *ngFor="let offer of place.offers" class="sl-p-c-menuitem" fxLayout="row" fxLayoutAlign="space-between">
            <div style="font-weight: 500;">{{offer.name}}</div>
            <div>{{offer.price}} €</div>
        </div>
    </div>
    <div class="sl-p-item sl-p-c-info" style="margin-bottom: 80px;">
        <h2>Kontakt</h2>
        <div class="sl-p-c-contact" fxLayoutAlign="flex-start center">
            <button mat-mini-fab style="background-color: orange; margin-right: 18px;" (click)="sendCall()">
                <mat-icon>call</mat-icon>
            </button>
            <div>
                <button *ngIf="protTel == null" mat-button (click)="showTel()">Nummer anzeigen</button>
                <div *ngIf="protTel">{{protTel}}</div>
            </div>
        </div>
        <div class="sl-p-c-contact" fxLayoutAlign="flex-start center">
            <button mat-mini-fab style="background-color:#3f51b5; margin-right: 18px;" (click)="sendMail()">
                <mat-icon>mail</mat-icon>
            </button>
            <div>
                <button *ngIf="protMail == null" mat-button (click)="showMail()">Email-Adresse anzeigen</button>
                <div *ngIf="protMail">{{protMail}}</div>
            </div>
        </div>
    </div>
</div>