.sl-p-page {
  padding-left: 10px;
  padding-right: 10px;
}

.sl-p-imgitem {
  width: 100%;
  margin-top: 20px;
  max-width: 450px;
}

.sl-p-item {
  z-index: 3;
  width: 100%;
  margin-top: 15px;
  padding: 14px;
  border-radius: 4px;
  background-color: white;
  max-width: 500px;
}

.sl-p-info-deliv {
  padding: 8px 14px 5px 14px;
  font-weight: bold;
  width: 100%;
  border-radius: 4px;
  max-width: 500px;
  margin-top: -4px;
  background-color: #e7e7e7;  // #3f51b5;
  color: black;             // white;
}

.sl-p-c-img {
  margin-top: 30px;
  border-radius: 4px;
  max-height: 200px;
  object-fit: cover;
}

.sl-p-c-info {
}

.sl-p-c-info h1 {
  font-size: 14pt;
  font-family: Martel;
  font-weight: 900;
}

.sl-p-c-info h2 {
  font-size: 12pt;
  font-family: Martel;
  font-weight: 900;
}

.sl-p-c-info-item {
  padding-bottom: 10px;
}

.sl-p-c-info-item mat-icon {
  color: #303030;
  font-size: 14pt;
  margin-right: 10px;
}

.sl-p-c-menuitem {
  padding-top: 15px;
}

.sl-p-c-contact {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.sl-p-c-contact-icon {
  height: 40px;
  width: 40px;
  //padding: 10px;
  background-color: orange;
  border-radius: 50%;
}
