<div *ngIf="!accepted" class="sl-cb-base" fxLayout="row" fxLayoutAlign="center center">
<div>Diese Website verwendet cookies. Diese sind für die Funktion der Website essentiell und wir versuchen die Anzahl der Cookies auf ein minimum zu reduzieren. </div>
<button class="sl-cb-button" mat-button aria-label="accept" (click)="accept()">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div>akzeptieren</div>
        <mat-icon style="padding-left: 1px; font-size: 13pt; padding-top: 7px;">check</mat-icon>
    </div>
</button>
</div>