.sl-cb-base {
    padding: 13px;
    width: 100%;
    background-color: white;
    color: #222222;
    font-size: 12px;
    font-weight: bold;

    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 101;
}

.sl-cb-button {
    font-size: 12px;
    color: #3f51b5;
}
