.sl-l-base{
height: 100%;
width: 100%;
}

.sl-l-container{
    height: 300px;
    //width: 300px;
}

.sl-l-c-pane{
    padding: 10px;
    max-width: 350px;
}

mat-form-field{
    width: 100%;
}

.sl-logo-bottom{
    padding: 0px;
    //margin-top: 100px;
    margin-bottom: 30px;
}

.sl-l-login-error{
    color: red;
    font-weight: bold;
    font-size: small;
    text-align: center;
    margin-bottom: 20px;
}

.sl-l-login-message{
    color: blue;
    font-weight: bold;
    font-size: small;
    text-align: center;
    margin-bottom: 20px;
}