<app-header showBack="true"></app-header>
<div class="sl-l-base" fxLayout="column" fxLayoutAlign="center center">
    <div class="sl-logo sl-logo-bottom" routerLink="/">Anmelden</div>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs ">
        <mat-tab label="Anmelden">
            <div class="sl-l-c-pane" fxLayout="column">
                <form [formGroup]="loginForm" (ngSubmit)="loSubmit()">
                    <mat-form-field appearance="fill">
                        <mat-label>Email Adresse</mat-label>
                        <input matInput formControlName="loEmail">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Passwort</mat-label>
                        <input matInput formControlName="loPassword" [type]="loHidePW ? 'password' : 'text'">
                        <button mat-icon-button matSuffix type="button" (click)="loHidePW = !loHidePW"
                            [attr.aria-label]="'Passwort verbergen'" [attr.aria-pressed]="loHidePW">
                            <mat-icon>{{loHidePW ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div *ngIf="loSuccess < 0" class="sl-l-login-error">Passwort oder Email ist falsch</div>
                    <div *ngIf="prSuccess == -1" class="sl-l-login-error">Bitte geben Sie Ihre Email-Adresse ein</div>
                    <div *ngIf="prSuccess == -2" class="sl-l-login-error">Wir konnten kein Konto mit dieser Email Adresse finden</div>
                    <div *ngIf="prSuccess > 1" class="sl-l-login-message">Email wurde versandt</div>
                    <div *ngIf="!loSubmitted">
                        <button mat-raised-button type="submit" color="primary">Anmelden</button>
                        <button mat-button type="button" color="primary" (click)="openPasswordResetDialog()">Passwort vergessen</button>
                    </div>
                    <mat-spinner *ngIf="loSubmitted && (loSuccess == 0)" [diameter]="30" style="margin-left: 5px;"></mat-spinner>
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Geschäft registieren">
            <app-signup></app-signup>
        </mat-tab>
    </mat-tab-group>
</div>