<app-header showBack="true"></app-header>
<div class="toolbar-placeholder "></div>
<div fxLayout="column" class="sl-legal-base" fxLayoutAlign="flex-start center">
    <div class="sl-legal-item">
        <h1>Nutzungsbedingungen</h1>
        <h4><span style="text-decoration: underline;">Nutzungsbedingungen für die Nutzung der Geschäfts- und
                Restaurant-Funktionen auf
            </span><span style="text-decoration: underline;">alllocal.de</span></h4>
        <p><strong>§ 1 Geltungsbereich</strong></p>
        <p>(1)&nbsp;Die nachfolgenden Bedingungen gelten für die Nutzung eines alllocal.de - im folgenden "Unsere
            Webseite" Accounts - Webseite.&nbsp;Für die Nutzung der Funktionen ist wichtig, dass Sie als Nutzer/Nutzerin
            die
            nachfolgenden Forenregeln bzw. –bedingungen akzeptieren. Die Registrierung und Benutzung unserer Accounts
            ist
            kostenlos.</p>
        <p>(2)&nbsp;Mit der Registrierung sind Sie mit den Nutzungsbedingungen unserer Webseite einverstanden. Durch Ihr
            Einverständnis garantieren Sie uns, dass Sie keine Beiträge erstellen werden, die gegen die
            Nutzungsbedingung verstoßen.</p>
        <p>(3) Durch das Benutzen von unserer Webseite kommt kein Vertrag zwischen den Nutzern/Nutzerinnen und uns
            zustande.</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>§ 2 Pflichten als Account-Nutzer/Account-Nutzerinnen</strong></p>
        <p><sup>&nbsp;</sup>(1) Einer Ihrer Pflichten als Nutzer/Nutzerin ist es, dass Sie keine Beiträge
            veröffentlichen, die gegen diese Regeln, gegen die guten Sitten oder sonst gegen geltendes deutsches
            Recht verstoßen.</p>
        <p><span style="text-decoration: underline;">Folgende Punkte sind Ihnen nicht genehmigt:</span></p>
        <p>1. Inhalte zu veröffentlichen, die unwahr sind und deren Veröffentlichung einen Straftatbestand oder eine
            Ordnungswidrigkeit erfüllt,<br />2. Versendung von Spam über die Webseite an andere
            Nutzer/Nutzerin,<br />3. Verwendung von gesetzlich durch Urheber- und Markenrecht geschützte
            Inhalte ohne rechtmäßige Berechtigung (z.B. Pressemitteilungen etc.),<br />4. Handlungen, die
            wettbewerbswidrig sind,<br />5. mehrfache Einstellung von Gewerben auf der Webseite (sogenannte
            Doppelpostings),<br />6. eigene Werbung, folglich Schleichwerbung, zu betreiben und<br />7. Inhalte zu
            veröffentlichen, die beleidigend, rassistisch, diskriminierend oder pornographische Elemente aufweisen
            gegenüber anderen Nutzern/Nutzerinnen und der Allgemeinheit.</p>
        <p>Ihre Pflicht als Nutzer/ Nutzerin ist es, auf § 2 Abs. 1 Nr. 1-7 dieser Nutzungsbedingung,
            vor&nbsp; der Veröffentlichung Ihres Beitrages auf der Seite zu beachten und zu überprüfen, ob Sie sich an
            diese
            Punkte gehalten haben.</p>
        <p>(2)&nbsp;&nbsp;&nbsp;Sollten Sie gegen § 2 Abs. 1 Nr. 1-7 dieser Nutzungsbedingung verstoßen, behalten wir
            uns das Recht vor, gegen Sie folgende Schritte vorzunehmen:</p>
        <p>1. Ihre eingestellten Beiträge zu löschen und diese abzuändern,</p>
        <p>2. Verbot weiterhin auf dieser Seite Beiträge zu verfassen und</p>
        <p>3. Sperrung des Zugangs als Nutzer/Nutzerin.</p>
        <p>(3)&nbsp;&nbsp;Haben Sie als Nutzer/Nutzerin nicht die Forenregeln beachtet und sind hierdurch
            mögliche Rechtsverstöße entstanden, die durch Ihre eingestellten Inhalte auf unserer Webseite entstanden
            sind
            (Pflichtverletzung), verpflichten Sie sich als Nutzer/Nutzerin, <em>uns </em>von jeglichen Ansprüchen, auch
            den Schadenersatzansprüchen, freizustellen und diesen die Kosten zu ersetzen.</p>
        <p>Zudem ist der Nutzer/die Nutzerin verpflichtet uns, bei Schadenersatzansprüchen hinsichtlich der Abwehr des
            durch ihn entstandenen Rechtsverstoßes (Pflichtverletzung s.o.), zu unterstützen und die Kosten einer
            angemessenen Rechtsverteidigung für uns zu tragen.</p>
        <p>(4)&nbsp;&nbsp; Durch Ihr Einverständnis garantieren Sie uns, dass Sie keine Beträge erstellen werden, die
            gegen die Nutzungsbedingung verstoßen. Entsprechendes gilt auch für das Setzen von externen Links und die
            Signaturen.</p>
        <p>&nbsp;</p>
        <p><strong>§ 3 Übertragung von Nutzungsrechten</strong></p>
        <p>Sie, als Nutzer/Nutzerin&nbsp; haben die alleinige Verantwortung des Urheberrechts i.S.d.
            Urhebergesetzes bei Veröffentlichung von Beiträgen und Themen auf der Webseite zu beachten. <sup>2</sup>Als
            Nutzer/Nutzerin räumen Sie lediglich uns mit Veröffentlichung Ihres Beitrages auf deren Homepage das Recht
            ein, den Beitrag dauerhaft zum Abruf bereitzustellen. <sup>3</sup>Ferner hat unser Team das Recht, Ihre
            Themen und Beiträge zu löschen, zu bearbeiten und innerhalb seiner Homepage zu verschieben, um diese mit
            anderen Inhalten zu verknüpfen oder zu schließen.</p>
        <p>&nbsp;</p>
        <p><strong>§ 4 Haftungsbeschränkung</strong></p>
        <p>(1) Wir übernimmen keinerlei Gewähr für die auf der Webseite veröffentlichten und eingestellten Beiträge,
            Themen,
            externen Links und die daraus resultierenden Inhalte, insbesondere nicht für deren Richtigkeit,
            Vollständigkeit und Aktualität. Wir sind auch nicht verpflichtet, permanent die übermittelten und
            gespeicherten Beiträge der Nutzer/Nutzerinnen zu überwachen oder nach den Umständen zu erforschen, ob sie
            auf einen rechtswidrigen Inhalt hinweisen. Wir haften grundsätzlich nur im Falle einer vorsätzlichen oder
            grob fahrlässigen Pflichtverletzung.</p>
        <p>(2) WIr weisen ausdrücklich darauf hin, dass die juristischen Beiträge und Diskussionen von Nutzern auf
            unserer Webseite vollkommen
            unverbindlich sind. <sup>2</sup>Die Nutzung der Beiträge und deren Verwertung erfolgt auf Ihre eigene
            Gefahr.</p>
        <p>(3)&nbsp;&nbsp; Bei Werbeschaltungen übernimmen wir keine Haftung für den Inhalt und die Richtigkeit. <sup>2
            </sup>Für den Inhalt der Werbeanzeigen ist der jeweilige Autor einzig und allein verantwortlich; gleiches
            gilt für den Inhalt der beworbenen Webseite. <sup>3</sup>Bei Darstellung der Werbeanzeige auf unserer
            Webseite , sind wir nicht gleichzeitig mit dem rechtswidrigen Inhalt einverstanden. <sup>4</sup>Daher liegt
            die Haftung ausschließlich bei dem Werbekunden.</p>
        <p>(4)&nbsp;&nbsp; Es ist wird nicht für einen ständigen unterbrechungsfreien Abruf der Webseite garantiert.
            <sup>2</sup>Einer Haftung diesbezüglich wird hiermit ausdrücklich widersprochen. <sup>3</sup>Auch bei großer
            Sorgfalt können Ausfallzeiten leider nicht ausgeschlossen werden.</p>
        <p>&nbsp;</p>
        <p><strong>§ 5 Urheberrecht</strong></p>
        <p>Sämtliche Texte, Bilder und andere auf unserer Webseite veröffentlichten Informationen und Daten unterliegen
            - sofern nicht anders gekennzeichnet - dem Copyright unserer Seite. Jede Form von Wiedergabe und/oder
            Modifikation darf nur mit der schriftlichen Genehmigung durch uns erfolgen. Andersfalls behalten wir uns das
            Recht vor gerichtlich gegen diese Rechtsverletzung vorzugehen. <sup>4</sup>Alle Kosten, die durch eine
            Rechtsverletzung seitens eines Benutzers verursacht werden, werden diesem in Rechnung gestellt.</p>
        <p><strong>&nbsp;</strong></p>
        <p><strong>§ 6 Änderungsvorbehalt</strong></p>
        <p>Wir haben jederzeit das Recht die Nutzungsbedingungen zu ändern. Die Änderung wird dann per Eintrag auf
            der Webseite veröffentlicht.</p>
        <p>&nbsp;</p>
        <p><strong>§ 7 Kündigung und Laufzeit der Mitgliedschaft bei unserer Webseite <br /></strong></p>
        <p>Die Laufzeit der Mitgliedschaft beginnt mit der Registrierung und mit dem Einverständnis unseren
            Nutzungsbedingungen und besteht auf eine unbestimmte Zeit. Die Mitgliedschaft kann jederzeit ohne Angabe von
            Kündigen fristlos gekündigt werden.</p>
        <p>&nbsp;</p>
        <p><strong>§ 8 Salvatorische Klausel</strong></p>
        <p>Diese Nutzungsbedingung ist als Teil unserer Webseite zu betrachten, von dem aus auf diese Seite
            verwiesen wird. Sind einzelne Formulierungen dieser Nutzungsbedingung nicht mehr ganz oder nicht mehr
            vollständig konform mit der geltenden Rechtslage, so ist davon auszugehen, dass die übrigen Regelungen der
            Nutzungsbedingungen bestehen bleiben.</p>
        <p><em>Diese Nutzungsbedingungen wurden
                freundlicherweise von www.jurarat.de zur Verfügung gestellt.</em></p>
    </div>
</div>