.sl-l-c-pane{
    padding: 10px;
    max-width: 350px;
}

mat-form-field{
    width: 100%;
}

.sl-su-tos{
    padding-bottom: 10px;
}

.sl-su-tos a{
    text-decoration: none;
    color: #3f51b5;
}

.sl-su-error{
    color: red;
    font-weight: bold;
    font-size: small;
    text-align: center;
    margin-top: 10px;
}