<div class="sl-l-c-pane" fxLayout="column">
    <form [formGroup]="signupForm" (ngSubmit)="suSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Email Adresse</mat-label>
            <input matInput formControlName="suEmail">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Passwort (min. 6 Zeichen)</mat-label>
            <!--<input matInput formControlName="suPassword" [type]="'password'">-->
            <input matInput formControlName="suPassword" [type]="suHidePW ? 'password' : 'text'">
            <button mat-icon-button matSuffix type="button" (click)="suHidePW = !suHidePW"
                [attr.aria-label]="'Passwort verbergen'" [attr.aria-pressed]="suHidePW">
                <mat-icon>{{suHidePW ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div style="height: 30px;"></div>
        <mat-form-field appearance="fill">
            <mat-label>Name Ihres Geschäfts</mat-label>
            <input matInput formControlName="suName">
        </mat-form-field>
        <!--<mat-form-field appearance="fill">
            <mat-label>PLZ des Unternehmens</mat-label>
            <input matInput formControlName="suPLZ">
        </mat-form-field>-->
        <mat-checkbox [(ngModel)]="tosaccept" [ngModelOptions]="{standalone: true}"><div class="sl-su-tos">Ich habe die <a href="/nutzungsbedingungen">Nutzungsbedingungen</a> <br> gelesen und akzeptiere diese.</div></mat-checkbox>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <button mat-raised-button type="submit" [disabled]="suSubmitted" color="primary" style="width: 100%;"
                #btnsignup>kostenlos Registieren</button>
            <mat-spinner *ngIf="suSubmitted && (suSuccess == 0)" [diameter]="30"></mat-spinner>
            <mat-icon *ngIf="suSuccess > 0">done</mat-icon>
            <mat-icon *ngIf="suSuccess < 0">error</mat-icon>
        </div>
        <div *ngIf="suNoTos && !tosaccept" class="sl-su-error">Bitte Akzeptieren Sie die Nutzungsbedingungen</div>

    </form>
</div>