// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
//@import "https://fonts.googleapis.com/css?family=Martel:900&display=swap";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$supportlocalapp-primary: mat-palette($mat-indigo);
$supportlocalapp-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$supportlocalapp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$supportlocalapp-theme: mat-light-theme($supportlocalapp-primary, $supportlocalapp-accent, $supportlocalapp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($supportlocalapp-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f3f3;
}

.sl-logo {
  padding-right: 30px;
  font-size: 14pt;
  font-family: Martel;
  padding-top: 4px;
  cursor: pointer;
}

.sl-logo-img{
  height: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.sl-logo-main{
  font-weight: 900;
  opacity: 1;
}

.sl-logo-de{
  font-weight: 500;
  opacity: 0.6;
}

.sl-headerbar {
  height: 55px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f3f3f300;
  //background-color: #e1e1e1; //#6271c3;
  color: black;
  //backdrop-filter: blur(4px);
  
}


html:not([data-scroll='0']) .sl-headerbar{
  box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
  background-color: #f3f3f3;
  color: black !important;
}

mat-toolbar {
  max-height: 55px;
  position: fixed;
  z-index: 10;
}

.toolbar-placeholder {
  height: 55px;
}



//Legal
.sl-legal-base {
  padding-top: 70px;
}

.sl-legal-item {
  z-index: 3;
  width: 100%;
  margin-top: 15px;
  padding: 14px;
  border-radius: 4px;
  background-color: white;
  max-width: 600px;
}
.sl-legal-item h1 {
  font-size: 14pt;
  font-family: Martel;
  font-weight: 900;
}
