.sl-s-mobilesearch {
  ::ng-deep .mat-form-field-underline {
    display: none;
  }

  ::ng-deep .mat-form-field-infix {
    border-top: 0px;
    padding: 10px;
  }
}

.sl-s-h-fields {
  max-width: 500px;
}

.sl-s-h-searchbar-plz {
  //width: 100px;
  //margin-right: 14px;
  //font-size: medium;
  width: 100%;
  max-width: 600px;
}

.sl-s-h-searchbar-field {
  font-weight: bold;
}

.sl-s-h-login {
  padding-left: 30px;
  vertical-align: middle;
}

.sl-s-h {
  height: 55px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #e3e3e3;
}

.sl-s-inputfield {
  font-size: medium;
  background-color: #ffffff2f;
  border-radius: 3px;
  /*padding: 3px;
  padding-left: 7px;
  
  border: 0px;*/
  height: 40px;
}

.sl-s-resultview {
  padding-left: 10px;
  padding-right: 10px;
}

.sl-s-c-resultcard {
  display: flex;
  flex-direction: row;
  //align-content: space-between;
  background-color: white;
  margin-top: 20px;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  min-height: 160px;
  cursor: pointer;
}

.sl-s-c-rc-img {
  height: 100%;
  width: 180px;
  object-fit: cover;
  outline: none;
  border: none;
}

img[src=""] {
  visibility: hidden;
}

.sl-s-c-rc-content {
  padding: 12px;
  padding-left: 20px;
}

.sl-s-c-rc-content h2 {
  font-size: 12pt;
  font-family: Martel;
  font-weight: 900;
}

.sl-s-c-rc-contact {
  background-color: #e8e8e8; //#6271c3;
  color: #333333; //white;
  padding: 7px;
  padding-left: 20px;
  height: 30px;
}

.sl-s-c-rc-c-icons mat-icon {
  margin-left: 10px;
  color: #6271c3;
}

.sl-s-c-rc-c-pitem {
  padding-bottom: 10px;
}

.sl-s-c-rc-c-pitem mat-icon {
  color: #303030;
  font-size: 14pt;
  margin-right: 10px;
}

.sl-s-c-rc-deliv {
  font-weight: bold;
  font-size: small;
}

.sl-s-mobilesearch {
  padding: 10px;
  background-color: #3f51b5;//#008080; //#3f51b5;
  background-image: linear-gradient(to right, #3f51b5 , #0f75c9);
  min-height: 50px;
  color: white;
}

.sl-s-mobilesearch input {
  outline: none;
}

.sl-s-noresult{
  padding: 30px;
}

//mobile changes

@media screen and (max-width: 500px) {
  .sl-s-c-resultcard {
    display: flex;
    flex-direction: column;
  }
  .sl-s-c-rc-img {
    height: 120px;
    width: 100%;
    object-fit: cover;
  }
}

/*
@media screen and (max-width: 850px) {
  .sl-s-mobilesearch {
    visibility: visible;
  }
  .sl-s-desksearch {
    visibility: collapse;
  }
}*/
