<app-header></app-header>
<!--<div *ngIf="showHome" style="height: 35vh; width: 100%; background-color: #555555;"></div>-->
<div class="sl-s-mobilesearch" fxLayoutAlign="center center">
    <div fxFlex fxLayoutAlign="center stretch" class="sl-s-h-fields">
        <mat-form-field appearance="none" class="sl-s-inputfield sl-s-h-searchbar-plz sl-s-h-searchbar-field">
            <input matInput #searchfield
                   placeholder="PLZ / Ort"
                   aria-label="Ort"
                   [matAutocomplete]="auto"
                   [formControl]="plzSearch" (keyup.enter)="onSearch()" cdkFocusInitial autofocus>
            <mat-autocomplete #auto="matAutocomplete" >
              <mat-option *ngFor="let area of filteredAreas | async" [value]="area.plz + ' ' + area.name">
                <small style="padding-right: 10px;">{{area.plz}}</small>
                <span>{{area.name}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        <!--<input matInput placeholder="PLZ / Ort" class="sl-s-h-searchbar-plz sl-s-inputfield" />
        <input matInput placeholder="Suche" class="sl-s-h-searchbar-field sl-s-inputfield" style="min-width: 100px;"/>-->

        <!--<input type="text" id="url" name="fname" class="sl-s-h-searchbar-url" value="89075 Ulm">
        <input fxFlex type="text" id="search" name="fname" class="sl-s-h-searchbar-field" value="Buch">-->
        <button mat-icon-button aria-label="Suche" (click)="onSearch()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>
<div *ngIf="resultList && resultList.length == 0" fxLayout="column" class="sl-s-resultview sl-s-noresult" fxLayoutAlign="flex-start center">
    Leider keine Ergebnisse gefunden
</div>
<div fxLayout="column" class="sl-s-resultview" fxLayoutAlign="flex-start center">
    <div *ngFor="let place of resultList" class="sl-s-c-resultcard" routerLink="{{'/place/' + place.id}}">
        <div class="sl-s-c-rc-imgbase">
            <img src="{{place.imageurl || ''}}" class="sl-s-c-rc-img">
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between" style="width: 100%;">
            <div class="sl-s-c-rc-content">
                <h2>{{place.name}}</h2>
                <div class="sl-s-c-rc-c-pitem" fxLayout="row">
                    <mat-icon>place</mat-icon>
                    <div>{{place.adress}}</div>
                </div>
                <div class="sl-s-c-rc-c-pitem" fxLayout="row">
                    <mat-icon>access_time</mat-icon>
                    <div>{{place.times}}</div>
                </div>
            </div>
            <div class="sl-s-c-rc-contact" fxLayout="row" fxLayoutAlign="space-between center">
                <div *ngIf="place.delivery == true" class="sl-s-c-rc-deliv">Lieferung möglich</div>
                <div *ngIf="place.delivery != true" class="sl-s-c-rc-deliv">Abholung vor Ort</div>
                <div class="sl-s-c-rc-c-icons" fxLayoutAlign="end center">
                    <mat-icon>mail</mat-icon>
                    <mat-icon>call</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height: 60vh;"></div>