<div mat-dialog-content>
    {{message}}
</div>
<div mat-dialog-actions fxLayoutAlign="end" style="padding-bottom: 20px;">
    <button mat-button (click)="onNoClick()">Nein</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ja</button>
</div>