<app-header [color]="'#ffffff'"></app-header>
<div class="sl-h-hero" fxLayout="column" fxLayoutAlign="center center">
    <h1>Unterstütze Geschäfte in Deiner Nähe!</h1>
    <p>Der lokale Einzehandel wird durch die Covid19-Pandemie stark gefährdet. Hilf mit, diese Geschäfte und Restaurants in Deiner Region zu
        erhalten.</p>
</div>
<div class="sl-h-mobilesearch" fxLayoutAlign="center center">
    <div fxFlex fxLayoutAlign="center stretch" class="sl-s-h-fields">
        <mat-form-field appearance="none" class="sl-h-searchfield">
            <input matInput placeholder="Geschäfte & Restaurants suchen" (click)="onSearchClick()"
                (keyup)="onSearchClick()">
        </mat-form-field>
        <button mat-icon-button aria-label="Suche" (click)="onSearchClick()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>
<div class="sl-h-content" fxLayoutAlign="center center">
    <div class="sl-h-c-pane sl-h-text" fxLayout="column">
        <h2>Über das Projekt</h2>
        <p>Guten Tag, mein Name ist Robin Naumann. Ich bin Student der Medien-Informatik an der Uni Ulm und habe während
            meiner Semesterferien diese Website geschrieben, welche es erleichtern soll, die Geschäfte und Restaurants
            in der Region zu unterstützen. Die Website ermöglicht es Besuchern, lokale Geschäfte und Restaurants zu finden, welche
            ihre Produkte weiterhin anbieten oder sogar liefern. Ein Beispiel finden Sie
            <a href="/place/KhgU2vxuFuVBJiSwwuiBwPdD06i1">hier</a>.</p>
        <p>Die Nutzung ist für jeden kostenlos sowie werbefrei, und alle für eine Registrierung eingegebenen Daten werden natürlich auch
            nicht
            weiterverkauft. Meine Webseite dient keinem kommerziellen Zweck.</p>
        <p>Ich würde mich freuen, wenn Sie sich an diesem Projekt beteiligen und Ihr Geschäft oder Restaurant im
            nebenstehenden Feld registrieren oder als Besucher im obrigen Feld nach lokalen Angeboten in Ihrer Nähe
            suchen.</p>
        <p>Bei Fragen melden Sie sich gerne bei mir: robin@alllocal.de</p>
        <em>Vielen Dank, Robin Naumann</em>
    </div>
    <div class="sl-h-c-pane sl-h-signup">
        <h2>Geschäft registrieren</h2>
        <app-signup></app-signup>
    </div>
</div>
<div class="sl-h-cabout" fxLayoutAlign="center center">
    Kostenlos und <a href="https://gitlab.com/support-local/webclient"> Open Source</a>
</div>
<div class="sl-h-cinfo" fxLayoutAlign="center center">
    <mat-icon>code</mat-icon> with <mat-icon>favorite</mat-icon> in Ulm & Freiburg
</div>
