// -- begin searchbox --

.sl-h-mobilesearch {
    padding: 10px;
    background-color: #3f51b5; //#008080; //#3f51b5;
    background-image: linear-gradient(to right, #3f51b5, #0f75c9);
    min-height: 50px;
    color: white;
}

.sl-h-mobilesearch {
    ::ng-deep .mat-form-field-underline {
        display: none;
    }

    ::ng-deep .mat-form-field-infix {
        border-top: 0px;
        padding: 10px;
    }
}

.sl-h-mobilesearch input {
    outline: none;
}

.sl-h-searchfield {
    font-size: medium;
    background-color: #ffffff2f;
    border-radius: 3px;
    height: 40px;
    font-weight: bold;
    width: 100%;
    max-width: 450px;
}

// -- end searchbox --

html[data-scroll="0"] .sl-headerbar {
    color: white;
    height: 400px;
}

.sl-h-hero {
    background-image: url("../../assets/freiburg-dark.jpg");
    background-position: bottom;
    color: white;
    margin-top: -60px;
    width: 100%;
    background-color: #444444;
    padding: 10px;
    padding-top: 150px;
    padding-bottom: 70px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.sl-h-hero h1 {
    font-size: 35pt;
    font-weight: bold;
    text-shadow: 1px 1px 2px #444444;
    text-align: center;
    line-height: normal;
    margin-bottom: 15px;
}
.sl-h-hero p {
    font-size: 15pt;
    //font-weight: bold;
    text-shadow: 1px 1px 2px #444444;
    text-align: center;
    line-height: normal;
    margin-bottom: 15px;
}

.sl-h-content {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sl-h-c-pane {
    padding: 10px;
    margin: 20px;
}

.sl-h-c-pane h2 {
    font-size: 14pt;
    font-family: Martel;
    font-weight: 900;
}

.sl-h-text {
    width: 400px;
    //background-color: cyan;
    text-align: justify;
}

.sl-h-text em{
    text-align: right;
    width: 100%;
}

.sl-h-signup {
    width: 300px;
    //height: 400px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #aaaaaa;
}

.sl-h-cinfo {
    padding-top: 30px;
    color: #666666;
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}
.sl-h-cinfo mat-icon {
    margin-left: 2px;
    margin-right: 2px;
    color: #666666;
    //font-size: 11pt;
    //vertical-align: middle;
}

.sl-h-cabout {
    padding-top: 40px;
    color: #444444;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}

.sl-h-cabout a{
    padding-left: 6px;
    text-decoration: none;
    color: #3f51b5;
}
