.sl-a-page {
  padding-left: 10px;
  padding-right: 10px;
}

.sl-a-item {
  z-index: 3;
  width: 100%;
  margin-top: 15px;
  padding: 14px;
  border-radius: 4px;
  background-color: white;
  max-width: 500px;
}

.sl-a-c-info h1 {
  font-size: 14pt;
  font-family: Martel;
  font-weight: 900;
}

.sl-a-c-info h2 {
  font-size: 12pt;
  font-family: Martel;
  font-weight: 900;
}

.sl-a-c-info h3 {
  font-size: 11pt;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.sl-a-c-info-item {
  padding-bottom: 10px;
}

.sl-a-c-info-item mat-icon {
  color: #303030;
  font-size: 14pt;
  margin-right: 10px;
}

.sl-a-img {
  color: #797979;
  height: 120px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.sl-a-okdiv{
  width: 100%;
  z-index: 1;
  background-color: #3f51b5;
  color: white;
}

.sl-a-wraprow{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  //fxflLayout="row" fxLayoutAlign="space-between" style="flex-wrap: wrap"
}
