<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="sl-headerbar">
    <div fxLayout="row">
        <button mat-icon-button aria-label="Login" routerLink="/">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <div class="sl-logo" fxLayoutAlign="center center" routerLink="/">SupportLocal</div>
    </div>

    <div class="sl-s-h-login" fxLayoutAlign="center center">
        <button mat-button aria-label="Login" (click)="logout()">
            Abmelden <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</mat-toolbar>
<div class="toolbar-placeholder "></div>
<div fxLayout="column" class="sl-a-page" fxLayoutAlign="flex-start center">
    <div class="sl-a-item sl-a-c-info">
        <form [formGroup]="placeForm" (ngSubmit)="plSave()">
            <h2>Ihr Geschäft</h2>
            <div>

            </div>
            <h3>Bild ihres Geschäfts oder Logos</h3>
            <button mat-raised-button (click)="fileInput.click()" type="button"  class="sl-a-img"
                style="background-image: url({{imageURL}});">
                <!--<mat-icon *ngIf="!plUploadingImg">add</mat-icon>-->
                <mat-spinner *ngIf="plUploadingImg" [diameter]="20"></mat-spinner>
                <input #fileInput type="file" (change)="uploadImage($event)" style="display:none;"
                    accept=".png, .jpg" />
            </button>
            <h3>Informationen</h3>
            <div fxLayout="column">
                <div class="sl-a-wraprow">
                    <mat-form-field appearance="fill" style="width: 100%; max-width: 250px; margin-right: 10px;">
                        <mat-label>Name Ihres Geschäfts</mat-label>
                        <input matInput formControlName="plName" [(ngModel)]="lokal.name">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Postleitzahl</mat-label>
                        <input matInput formControlName="plPLZ" [(ngModel)]="lokal.plz" minlength="5" maxlength="5">
                    </mat-form-field>
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Adresse des Geschäfts</mat-label>
                    <input matInput formControlName="plAdress" [(ngModel)]="lokal.adress">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Ihre Geschäftszeiten</mat-label>
                    <input matInput formControlName="plTimes" [(ngModel)]="lokal.times">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Über ihr Geschäft</mat-label>
                    <textarea maxlength="500" #message matInput formControlName="plAbout"
                        [(ngModel)]="lokal.about"></textarea>
                    <mat-hint align="end">{{message.value.length}} / 500 Zeichen</mat-hint>
                </mat-form-field>
                <h4>Liefern Sie Produkte aus?</h4>
                <mat-slide-toggle formControlName="plDeliv" [(ngModel)]="lokal.delivery">Lieferung möglich
                </mat-slide-toggle>

                <h3>Kontaktmöglichkeiten</h3>
                <p>Diese Daten werden den Besuchern angezeigt</p>
                <div fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <mat-icon matPrefix>mail</mat-icon>
                        <input matInput formControlName="plMail" [(ngModel)]="lokal.email">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Telefon</mat-label>
                        <mat-icon matPrefix>call</mat-icon>
                        <input matInput formControlName="plPhone" [(ngModel)]="lokal.phone">
                    </mat-form-field>
                </div>
                <h3>Angebot</h3>
                <div fxLayout="column" fxLayoutAlign="flex-start stretch" formArrayName="offers">
                    <div *ngFor="let offer of offersFormArray.controls; let i = index" fxLayout="row"
                        fxLayoutAlign="space-between center" [formGroupName]="i">
                        <mat-form-field>
                            <mat-label>Artikel</mat-label>
                            <input matInput formControlName="ofName">
                        </mat-form-field>
                        <mat-form-field style="width: 100px;">
                            <mat-label>Preis</mat-label>
                            <input matInput formControlName="ofPrice">
                            <span matSuffix>€</span>
                        </mat-form-field>
                        <button class="g-pce-deletebtn" type="button" mat-icon-button (click)="removeOffer(i)">
                            <mat-icon style="color: #777777;">delete</mat-icon>
                        </button>
                    </div>
                    <button mat-icon-button type="button" color="primary" (click)="addOffer()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="end">
                    <div style="margin-right: 10px;" fxLayoutAlign="center center">
                        <div *ngIf="plSaveState == 2">gespeichert!</div>
                        <mat-spinner *ngIf="plSaveState == 1" [diameter]="30"></mat-spinner>
                    </div>
                    <div fxLayout="row-reverse"><button type="submit" mat-raised-button color="primary"
                            routerLink="/account">Speichern</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="lokal.plz != null"  class="sl-a-item sl-a-c-info sl-a-okdiv" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon>done</mat-icon>
        <div>Ihr Geschäft ist online</div>
    </div>
    <div class="sl-a-item sl-a-c-info">
        <h2>Account</h2>
        <div class="sl-a-c-info-item" fxLayout="row">
            <mat-icon>mail</mat-icon>
            <div>info@mail.com</div>
        </div>
        <h3>Funktionen</h3>
        <div class="sl-a-c-info-item" fxLayout="row">
            <!--<button mat-button color="primary">Passwort ändern</button>-->
            <button mat-button color="warn" (click)="deleteAccount()">Account löschen</button>
        </div>
    </div>
</div>